logFile          : /ldaphome/tb/Display_2017/hltMonitor.log
runRootFile	 : /ldaphome/tb/Display_2017/rootfiles
plotsPath        : /ceph/WWW/HLT2017/
plotsPathURL     : online.star.bnl.gov/HLT2017
commentFileName  : /ldaphome/tb/Display_2017/comments2017.txt
htmlFileName     : /ceph/WWW/HLT2017/index.html
sleepHours       : 0.5
